<div class="container">
  <div class="dice-content">
    <div class="dice" (click)="rollDice()">
      <div class="side one">
        <div class="inside">
          <span class="dot"></span>
        </div>
      </div>
      <div class="side two">
        <div class="inside">
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="side three">
        <div class="inside">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="side four">
        <div class="inside">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="side five">
        <div class="inside">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="side six">
        <div class="inside">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>

  </div>
</div>
